@page "/formexample"
@using Pig_n_Go.Core.Passenger
@using Pig_n_Go.Common.DTO.Passenger
@inject HttpClient Http

<h3>FormExample</h3>

<EditForm Model="@_passengerInfo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText id="name" @bind-Value="_passengerInfo.Name"/>
    <p/>
    <InputText id="surname" @bind-Value="_passengerInfo.Surname"/>
    <p/>
    <button class="btn btn-primary" type="submit">Sumbit</button>
</EditForm>

@if (_passengerModel is not null)
{
        <p>Passenger created succefully</p>
        <p>@_passengerModel.Id</p>
        @if (_passengerModel.PassengerInfo is not null)
        {
            <p>@_passengerModel.PassengerInfo.Name</p>
            <p>@_passengerModel.PassengerInfo.Surname</p>
        }
}

@code
{
    private readonly PassengerInfo _passengerInfo = new PassengerInfo();
    private PassengerModel _passengerModel;

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage response = await Http.PostAsJsonAsync(
            "https://localhost:5001/passengers/add",
            new PassengerCreationArguments { PassengerInfo = _passengerInfo });

        if (response.IsSuccessStatusCode)
            _passengerModel = await response.Content.ReadFromJsonAsync<PassengerModel>();
    }

}